﻿@using Blogs.Models;
@model List<Blog>

@{ 
    ViewBag.Title = "Index";
}

<h2>C#</h2>

@for (int i = 0; i < 5; i++)
{
    Blog item = Model[i];

    <div class="col-md-6">
        @if (i == 0)
        {
        <h3>@Html.ActionLink(@item.Heading, "Details", "Blogs", new { id = @item.BlogID })</h3>
         <p><a href="@Url.Action("Details", "Blogs", new { id = @item.BlogID })"><img src="@item.ImagePath" style="max-width:300px"/></a></p>
        }
</div>

<div class="col-md-6">
    @if (i != 0)
    {
        <h4>@Html.ActionLink(@item.Heading, "Details", "Blogs", new { id = @item.BlogID }, new { style = "color: black" })</h4>

    }
</div>

    <br />
    <br />

}