﻿@model Blogs.Models.Blog

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div class="container">
        <div class=" row">
            <br/>
            <br />
            <br />
    <div class="col-md-6">

        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <img src="@Model.ImagePath" style="max-width:300px">
        }

        </div>

            <div class="col-md-6">
                <h4>Blog</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Heading)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Heading)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>

                    <dd>
                       @Html.ActionLink(Model.Category, "Index", Model.Category, null, new { style = "color: black" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tag)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tag)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Content)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Content)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreationDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => Model.User)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => Model.User.BloggerName)
                    </dd>




                </dl>
            </div>
            </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BlogID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
